# creating DATAFRAME  PART 1

import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
spk = SparkSession.builder\
.master("local[1]")\
.appName("WithColumnApp")\
.getOrCreate()

In [2]:
dataDF = [(('James','','Smith'),'1991-04-01','M',3000),
(('Michael','Rose',''),'2000-05-19','M',4000),
(('Robert','','Williams'),'1978-09-05','M',4000),
(('Maria','Anne','Jones'),'1967-12-01','F',4000),
(('Jen','Mary','Brown'),'1980-02-17','F',-1)
]

In [3]:
schema = StructType([
StructField('name', StructType([
StructField('firstname', StringType(), True),
StructField('middlename', StringType(), True),
StructField('lastname', StringType(), True)
])),
StructField('dob', StringType(), True),
StructField('gender', StringType(), True),
StructField('amount', IntegerType(), True)
])

# creating DATAFRAME  PART 1

In [5]:
df = spk.createDataFrame(data = dataDF, schema = schema)
df.printSchema()
df.show()

root
 |-- name: struct (nullable = true)
 |    |-- firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- amount: integer (nullable = true)

+--------------------+----------+------+------+
|                name|       dob|gender|amount|
+--------------------+----------+------+------+
|    [James, , Smith]|1991-04-01|     M|  3000|
|   [Michael, Rose, ]|2000-05-19|     M|  4000|
|[Robert, , Williams]|1978-09-05|     M|  4000|
|[Maria, Anne, Jones]|1967-12-01|     F|  4000|
|  [Jen, Mary, Brown]|1980-02-17|     F|    -1|
+--------------------+----------+------+------+