# part1

from pyspark.sql import SparkSession

In [15]:
spk = SparkSession.builder.master("local[1]").appName("DataFrame").getOrCreate()

In [16]:
data = [('James','','Smith','1991-04-01','M',3000),
('Michael','Rose','','2000-05-19','M',4000),
('Robert','','Williams','1978-09-05','M',4000),
('Maria','Anne','Jones','1967-12-01','F',4000),
('Jen','Mary','Brown','1980-02-17','F',-1)
]
columns = ["firstname","middlename","lastname","dob","gender","salary"]

In [17]:
dataframe=spk.createDataFrame(data=data,schema=columns)

In [18]:
dataframe.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [23]:
df=spk.read.csv(r"C:\Users\MAZHER\Desktop\MazherPython\Assingment\PySpark Practice\EMP.csv")

In [24]:
df.show()

+---------+----------+--------+----------+------+------+
|      _c0|       _c1|     _c2|       _c3|   _c4|   _c5|
+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

# PART2

In [25]:

df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)

In [27]:
df1=spk.read.format("csv").load(r"C:\Users\MAZHER\Desktop\MazherPython\Assingment\PySpark Practice\EMP.csv")

In [48]:
df1.show()

+---------+----------+--------+----------+------+------+
|      _c0|       _c1|     _c2|       _c3|   _c4|   _c5|
+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [30]:
df2=spk.read.option("header",True).csv(r"C:\Users\MAZHER\Desktop\MazherPython\Assingment\PySpark Practice\EMP.csv")

In [71]:
df2.show()
df2.describe()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

DataFrame[summary: string, firstname: string, middlename: string, lastname: string, dob: string, gender: string, salary: string]

# PART3

In [33]:
df3=spk.read.options(delimiter=',').csv(r"C:\Users\MAZHER\Desktop\MazherPython\Assingment\PySpark Practice\EMP.csv")

In [36]:
df3.show(2)

+---------+----------+--------+----------+------+------+
|      _c0|       _c1|     _c2|       _c3|   _c4|   _c5|
+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
|    James|          |   Smith|1991-04-01|     M|  3000|
+---------+----------+--------+----------+------+------+
only showing top 2 rows

In [43]:
df4=spk.read.options(inferSchema=True,delimiter=',').csv(r"C:\Users\MAZHER\Desktop\MazherPython\Assingment\PySpark Practice\EMP.csv")

In [44]:
df4.show()

+---------+----------+--------+----------+------+------+
|      _c0|       _c1|     _c2|       _c3|   _c4|   _c5|
+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [45]:
df4.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)

# PART4

In [50]:
df5=spk.read.option("header",True)\
.option("inferSchema",True)\
.option("delimiter",',')\
.csv(r"C:\Users\MAZHER\Desktop\MazherPython\Assingment\PySpark Practice\EMP.csv")

In [72]:
df5.show()
df.count()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|3000.0|
|  Michael|      Rose|        |2000-05-19|     M|4000.0|
|   Robert|          |Williams|1978-09-05|     M|4000.0|
|    Maria|      Anne|   Jones|1967-12-01|     F|4000.0|
|      Jen|      Mary|   Brown|1980-02-17|     F|  -1.0|
+---------+----------+--------+----------+------+------+

6